/* MAIN */
:root {
    --bg-color: #212121;
    --secondary-bg-color: #292929;
    --tertiary-bg-color: #191919;
    --font-color: #fff;
    --highlight-color: #5cb85c;
    --secondary-highlight-color: #52a552;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* TOASTS */
.toast-header {
    border-bottom: none;
    color: var(--font-color);
}

.toast {
    position: fixed;
    bottom: 0;
    left: 10px;
    visibility: hidden;
}

.toast-body {
    background-color: var(--toast-bg-color)
}

/* NAVBAR */
.windowbar {
    background-color: #212121 !important;
}

.windowbar.fixed {
    top: 0 !important;
    width: 100% !important;
    user-select: none;
    height: 40px;
    box-shadow: 0 1px 10px var(--tertiary-bg-color);
}

.windowbar.wb-win .windowbar-minimize, .windowbar.wb-win .windowbar-maximize, .windowbar.wb-win .windowbar-close {
    height: 34px !important;
}

.windowbar-title {
    font-size: 13px !important;
    line-height: 14px;
    margin-top: 4px;
}

.windowbar-controls {
    margin-top: 3px;
}

.windowbar-icon {
    position: fixed;
    max-width: 25px;
    margin-left: 10px;
    margin-top: 8px;
}

/* URL FORM */
.url-input {
    margin-top: calc(45px + 1rem); /* Compensate the fixed navbar */
}

.btn {
    background-color: var(--highlight-color) !important;
    border-color: var(--secondary-highlight-color) !important;
    color: var(--font-color) !important;
}

/* QUEUE AREA */

.queue-area.container-fluid {
}

.queue {
    border: 1px solid var(--tertiary-bg-color);
    border-radius: .25rem;
    padding: 10px;
    width: 80%;
    height: 80vh;
    background-color: var(--secondary-bg-color);
    box-shadow: inset 0px 0px 8px 2px var(--tertiary-bg-color);
}

/* CUSTOM CHECKMARK SPINNER */
.circle-loader {
    margin-bottom: 3.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: var(--highlight-color);
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: var(--highlight-color);
    transition: border 500ms ease-out;
}
.checkmark {
    display: none;
}
.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 4px solid var(--highlight-color);
    border-top: 4px solid var(--highlight-color);
    content: '';
    left: 1.65em;
    top: 3.5em;
    position: absolute;
}
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}
