:root {
    --bg-color: #212121;
    --fg-color: #303030;
    --toast-bg-color: #424242;
    --settings-icon: #303030;
    --font-input: #fff;
    --bs-stepper-label: #6c757d;
    --highlight-color: #5cb85c;
    --windowbar: #000000;
    --button: #343a40;
    --progress-font: #fff
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--font-input);
}

.container-fluid {
    padding: 10px 30px;
}

.bg-dark {
    background-color: var(--bg-color) !important;
}

.btn-dark {
    background-color: var(--button) !important;
    border-color: var(--button) !important;
}

.bg-success {
    background-color: var(--highlight-color) !important;
}

.main-input {
    background-color: var(--fg-color);
    padding: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

#main_input label, .header {
    font-size: 22px;
    margin-bottom: 20px;
}

#main_input .form-group {
    margin-bottom: 2rem;
}

.thumbnail {
    border-radius: 3px;
    width: 100%;
    height: 21vw;
    object-fit: cover;
}

.thumbnail-settings {
    border-radius: 3px;
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

.title, .channel, .duration, .size, #directoryInputLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.spinner-border {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    margin: auto;
}

.bs-stepper {
    width: 100%;
    margin-top: 40px !important;
}

.bs-stepper .line {
    min-height: 2px;
    background-color: rgba(0,0,0,.25);
}

.bs-stepper .step-trigger {
    cursor: default !important;
    background-color: unset !important;
}

.bs-stepper-circle i {
    color: #fff !important;
}

.bs-stepper-circle {
    background-color: var(--bs-stepper-label) !important;
}

.bs-stepper-label {
    color: var(--bs-stepper-label) !important;
}

.active .bs-stepper-circle {
    background-color: var(--highlight-color) !important;
}

.toast-header {
    border-bottom: none;
    color: var(--font-input);
}

.toast {
    position: fixed;
    bottom: 0;
    left: 10px;
    visibility: hidden;
}

.toast-body {
    background-color: var(--toast-bg-color)
}

#directoryInput {
    cursor: default;
}

#min, #max {
    width: 75px;
}

.video-range {
    display: none;
}

.progress-bar {
    height: inherit;
}

.progress {
    height: 25px;
    padding: 0;
    display: none;
}
.completion {
    height: inherit;
    font-size: 12px;
    color: var(--progress-font) !important;
}

input[type="search"]::-webkit-search-cancel-button {
    opacity: .3;
    margin-bottom: -1px;
    filter: brightness(0);
}

/* CUSTOM CHECKMARK SPINNER */
.circle-loader {
    margin-bottom: 3.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: var(--highlight-color);
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: var(--highlight-color);
    transition: border 500ms ease-out;
}
.checkmark {
    display: none;
}
.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 4px solid var(--highlight-color);
    border-top: 4px solid var(--highlight-color);
    content: '';
    left: 1.65em;
    top: 3.5em;
    position: absolute;
}
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}

.credentials {
    text-decoration: underline !important;
    cursor: pointer;
}

.modal-content {
    background-color: var(--fg-color) !important;
    color: var(--font-input) !important;
}

.modal-header {
    border-bottom: 1px solid var(--bg-color) !important;
}

.modal-footer {
    border-top: 1px solid var(--bg-color) !important;
}

.addBtn, .addCookiesBtn, .saveSettingsBtn {
    background-color: var(--highlight-color) !important;
    color: var(--font-input) !important;
}

.close {
    color: var(--font-input) !important;
}

.authenticated, .channelInfo {
    color: var(--highlight-color) !important;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    display: none;
}

.windowbar.fixed {
    top: 0 !important;
    width: 100% !important;
    background-color: var(--windowbar) !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.windowbar-title {
    font-size: 13px !important;
    line-height: 14px;
}

.windowbar-icon {
    position: relative;
    max-width: 25px;
    margin-left: 10px;
    margin-bottom: -2px;
}

.windowbar-maximize:hover {
    background-color: black !important;
}

svg.maximize-svg path {
    fill: rgba(255,255,255,0.2) !important;
}

svg.unmaximize-svg {
    display: none !important;
}

.settingsIcon {
    position: absolute;
    color: var(--settings-icon) !important;
    font-size: 25px;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
}
