/* MAIN */
:root {
    --bg-color: #212121;
    --secondary-bg-color: #292929;
    --tertiary-bg-color: #191919;
    --font-color: #fff;
    --highlight-color: #5cb85c;
    --secondary-highlight-color: #52a552;
    --scroll-bar-color: #555;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    overflow: hidden;
}

/* TOASTS */
.toast-header {
    border-bottom: none;
    color: var(--font-color);
}

.toast {
    position: fixed;
    bottom: 0;
    left: 10px;
    visibility: hidden;
}

.toast-body {
    background-color: var(--bg-color)
}

/* NAVBAR */
.windowbar {
    background-color: #212121 !important;
}

.windowbar.fixed {
    top: 0 !important;
    width: 100% !important;
    user-select: none;
    height: 40px;
    box-shadow: 0 1px 10px var(--tertiary-bg-color);
}

.windowbar.wb-win .windowbar-minimize, .windowbar.wb-win .windowbar-maximize, .windowbar.wb-win .windowbar-close {
    height: 34px !important;
}

.windowbar-title {
    font-size: 13px !important;
    line-height: 14px;
    margin-top: 4px;
}

.windowbar-controls {
    margin-top: 3px;
}

.windowbar-icon {
    position: fixed;
    max-width: 25px;
    margin-left: 10px;
    margin-top: 8px;
}

/* URL FORM */
.url-input {
    margin-top: calc(40px + 2rem); /* Compensate the fixed navbar */
    margin-bottom: 2rem;
}

.url-input .btn {
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
    color: var(--font-color) !important;
    font-size: 24px;
    font-weight: 600;
    line-height: 0.5;
}

.url-input .btn > i::before {
    transform: scale(1.5);
}

/* QUEUE AREA */

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    color: var(--font-color);
    display: none;
}

.template {
    display: none;
    visibility: hidden;
}

.empty > .title {
    font-size: 30px;
    font-weight: bold;
}

.empty > .undertitle {
    font-size: 15px;
    font-weight: 600;
}

.queue {
    /*border: 1px solid var(--tertiary-bg-color);
    border-radius: .25rem;*/
    padding: 10px;
    width: 87%;
    height: 70vh;
    background-color: var(--secondary-bg-color);
    /*box-shadow: inset 0 0 4px 2px var(--tertiary-bg-color);*/
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.video-card {
    max-width: 645px;
    height: 140px;
    margin: 1em 1em 0 1em;
    background-color: var(--bg-color);
    padding: 0.75em 0 0.75em 0.75em;
    border-radius: 3px;
    box-shadow: 0 0.1em 0.15em var(--tertiary-bg-color);
}

.video-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 330px;
}

.video-card .custom-select {
    height: unset;
    line-height: 1.2;
    width: 145px;
    margin-bottom: 1em;
}

.video-card i {
    font-size: 24px;
}

.video-card a {
    cursor: pointer;
    transition: 150ms;
    color: var(--font-color);
}

.video-card a:hover {
    transition: 150ms;
    filter: brightness(55%);
}

.video-card a.disabled:hover, .video-card a.disabled {
    filter: brightness(25%);
    cursor: default;
}

.video-card i::before {
    vertical-align: unset !important;
}

.video-card .metadata {
    margin-bottom: 0 !important;
}

.video-card img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    max-height: 110px;
    background-color: var(--secondary-bg-color);
}

.video-card img:before {
    content: ' ';
    display: block;
    position: absolute;
    max-height: 110px;
    width: 100%;
    object-fit: cover;
    background-image: url("../resources/assets/plain-placeholder.png");
}

.video-card .progress {
    height: 31px;
    line-height: 1.1;
    margin-right: 10px;
    display: none;
    position: relative;
}

.video-card .open {
    display: none;
}

.video-card .open .btn {
    line-height: 1.2;
}

.video-card .progress small {
    color: #000;
    position: absolute;
    text-align: center;
    line-height: 31px; /* line-height should be equal to bar height */
    overflow: hidden;
    font-size: 12px;
    right: 0;
    left: 0;
    top: 0;
}

.progress-bar {
    background-color: var(--highlight-color);
}

.metadata .btn {
    margin-bottom: 0.15em;
    line-height: 0.8;
}

.metadata i:before {
    animation: rotation 1500ms infinite linear;
    vertical-align: text-bottom !important;
    line-height: 1.18;
}

.buttons {
    margin-top: 1rem;
}

option.audio {
    display: none;
}

#infoModal .modal-content, .modal-content textarea, .modal-content li, .modal-content ul {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.modal-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#infoModal .btn {
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
    color: var(--font-color) !important;
    font-weight: 600;
}

#infoModal .close {
    color: var(--font-color);
}

#info-description {
    resize: none;
    border-color: var(--tertiary-bg-color);
    border-radius: 3px;
    width: 100%;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    padding: 0.3rem 1rem;
}

.bi-save:before {
  padding-bottom: 2px !important;
}

.info-img {
    width: 100%;
}

.info-img:before {
    content: ' ';
    display: block;
    position: absolute;
    max-height: 110px;
    width: 100%;
    object-fit: cover;
    background-image: url(../resources/assets/plain-placeholder.png);
}

.list-group-item {
    padding-left: 0;
}

.modal-header, .modal-footer {
    border-color: var(--tertiary-bg-color);
}

#loading .custom-select  { /* TEMPORARY DEMO, REMOVE FIRST SELECTOR */
    display: none;
}

#loading .progress { /* TEMPORARY DEMO, REMOVE REMOVE FIRST SELECTOR */
    display: flex !important;
}

#getMetadata .options { /* TEMPORARY DEMO, REMOVE REMOVE FIRST SELECTOR */
    display: none;
}

#getMetadata .progress { /* TEMPORARY DEMO, REMOVE REMOVE FIRST SELECTOR */
    display: flex !important;
}

/* FILESIZE SPINNER */

.lds-dual-ring {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--scroll-bar-color);
}
